<!-- BRAND AREA START -->
<section id="brand">
  <div class="container">
    <div class="brand-main">
      <div class="col-lg-3">
        <img alt="brand-img" class="img-fluid" src="assets/images/brand1.png">
      </div>
      <div class="col-lg-3">
        <img alt="brand-img" class="img-fluid" src="assets/images/brand2.png">
      </div>
      <div class="col-lg-3">
        <img alt="brand-img" class="img-fluid" src="assets/images/brand3.png">
      </div>
      <div class="col-lg-3">
        <img alt="brand-img" class="img-fluid" src="assets/images/brand1.png">
      </div>
      <div class="col-lg-3">
        <img alt="brand-img" class="img-fluid" src="assets/images/brand2.png">
      </div>
    </div>
  </div>
</section>
<!-- BRAND AREA END -->
