<!-- ABOUT AREA START -->
<section id="about">
  <div class="container">
    <div class="row pt-5">
      <div class="col-lg-5 col-md-9 m-md-auto about-main">
        <img alt="about-img" class="img-fluid" src="assets/images/about-main.png">
        <div class="active-users">
          <h3 class="counter" data-counterup-beginat="1" data-counterup-delay="30" data-counterup-time="2000">3</h3>
          <span>M</span>
          <p>Users</p>
        </div>
        <div class="experience">
          <h3 class="counter" data-counterup-beginat="2" data-counterup-delay="30" data-counterup-time="2000">25</h3>
          <span>+</span>
          <p>Years of comic journey</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-txt">
          <span>About Us</span>
          <h3>Digital Books Arts Company.</h3>
          <p class="pt-2 pb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore molestiae eius accusamus
            fuga a tenetur.</p>
          <div class="check-p">
            <p><i class="fa-solid fa-check"></i> We Offer Unique Comic Books & Arts</p>
            <p><i class="fa-solid fa-check"></i> Get Collection Of Creative Series</p>
            <p><i class="fa-solid fa-check"></i> Watch Cartoon And Kid Animation</p>
          </div>
          <a class="button-circular" data-autoplay="true" data-vbtype="video"
             href="https://www.youtube.com/watch?v=4S8RC5zzG5g"><i class="fa-solid fa-play"></i> Watch Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ABOUT AREA ENDS -->
