<!-- FOOTER AREA START -->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 footer-logo">
        <a href="index.html">Comixo<span>.</span></a>
        <img src="assets/images/footer-icon.png" alt="bat-img">
      </div>
      <div class="col-lg-2 col-md-4 footer-menu">
        <h3>Quick Link</h3>
        <a href="#">Home Page</a>
        <a href="#">About</a>
        <a href="#">Contact Us</a>
      </div>
      <div class="col-lg-2 col-md-4 footer-menu">
        <h3>Community</h3>
        <a href="#">Career Page</a>
        <a href="#">FAQ</a>
        <a href="#">Supports</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Affiliate Marketing</a>
        <a href="#">Partnership</a>
        <a href="#">Terms & Condition</a>
      </div>
      <div class="col-lg-2 col-md-4 footer-menu">
        <h3>Action Link</h3>
        <a href="#">Contact Us</a>
        <a href="#">Payments</a>
        <a href="#">Comic Books</a>
        <a href="#">Community</a>
      </div>
      <div class="col-lg-3 footer-action">
        <h3>Connect Us</h3>
        <div class="footer-social">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
          <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </div>
        <h3>Get The App</h3>
        <div class="footer-download">
          <a href="#" class="button-primary android"><i class="fa-brands fa-google-play"></i> Play Store</a>
          <a href="#" class="button-primary ios"><i class="fa-brands fa-apple"></i> App Store</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FOOTER AREA END -->
